<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/java2e" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>UsuarioController</display-name>
  	<servlet-name>UsuarioController</servlet-name>
  	<servlet-class>controller.UsuarioController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AulaController</display-name>
  	<servlet-name>AulaController</servlet-name>
  	<servlet-class>controller.AulaController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ReservaController</display-name>
  	<servlet-name>ReservaController</servlet-name>
  	<servlet-class>controller.ReservaController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UsuarioController</servlet-name>
  	<url-pattern>/usuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AulaController</servlet-name>
  	<url-pattern>/aula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservaController</servlet-name>
  	<url-pattern>/reserva</url-pattern>
  </servlet-mapping>
</web-app>